$fontcolor: #1db44a;

*{
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom left, #000000 84%, #3c6d3f 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
h1{
    font-style: oblique;
}
h3{
    font-family: 'Viaoda Libre', cursive;
    color: $fontcolor;
}
section{
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
table{
    border: 3px solid;
    text-decoration: white;
    margin: auto;
    display: inline-block;
}
p{
    color:whitesmoke;
    font-family: 'Benne', serif;
    display: inline-block;
}
th {
    background-color:#cccccc;
    border: 1px solid;
}
tr, td {
    border: 1px solid;
}
.titulo{
    color: $fontcolor;
}
.titulo2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#main{
    color: $fontcolor;
    font-family: 'Playfair Display SC', serif;
    display: inline-block;
    margin-left: 400px;
    border: 1px solid;
}
#pie{
    color: rgb(223, 215, 215);
    font-family: 'Benne', serif;
    position: absolute;
}
ul{
    list-style: none;
}
.links{
    font-family: 'Benne', serif;
    color: $fontcolor;
    text-decoration: none;
    border-radius: 15px;
    border-color: pink;
    transition: .5s ease-out;
    &:visited{
        color: rgb(180, 96, 180);
    }
    &:focus {
        background:indigo ;
    }
    &:hover {
        background:indigo ;
        transform: scale(-5, 1.2);
    }
}
a{
    &:hover{
        transition: .5s ease-in;
        transform: scale(1.2, 1.2);
    }
}

.menu {
    list-style: none;
    width: 99%;
    padding: 6px;
    margin: 7px ;
    text-align: center;
    li{
        display: inline-block;
        padding: 20px;
        text-align: center;
    }
}
#img{
    display: inline-block;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    opacity: .8;
    transition: .5s ease;
    backface-visibility: hidden;
}
#img:hover{
    opacity: 4;
    transform: scale(1.1, 1.1);
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
footer{
    justify-content: flex-end;
    display: flex;
}
#logoImgMobileFirst{
    display: none;
}
#mainImg{
    padding-left: 230px;
    width: 800px;
    height: 200px;
}
#logoImg{
    padding-left: 200px;
}
.descripcion{
    font-family: 'Viaoda Libre', cursive;
}
.grid{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "section1 aside"
        "section2 aside"
        "section3 aside";
}
.grid2{
    display: grid;

    grid-template-areas: 
    "talles1 talles2"
    "talles3 talles4";
}
.talles1{
    grid-area: talles1;
}
.talles2{
    grid-area: talles2;
}
.talles3{
    grid-area: talles3;
}
.talles4{
    grid-area: talles4;
} 
.section1{
    grid-area: section1;
}
.section2{
    grid-area: section2;
}
.section3{
    grid-area: section3;
}
aside{
    grid-area: aside;
    justify-content: center;
    width: 38rem;
}
.container {
    position: relative;
    .container:hover .image {
        opacity: 0.7;
    }
}
@media only screen and (max-width: 768px){
    header{
        width: 100%;
        padding: 2vh;
    }
    aside{
        width: 100%;
        padding: 1vh;
    }
    .grid{
        grid-template-columns: 4fr;
        grid-template-areas: 
            "section1"
            "section2"
            "section3"
            "aside";
    }
    #mainImg{
        display: none;
    }
    #logoImg2{
        display: none;
    }
    #logoImg{
        display: none;
    }
    #logoImgMobileFirst{
        display: block;
        width: 150px;
        height: 110%;
        margin-left: 30%;
    }
    .menu{
        width: 97%;
    }
    .menu li{
        padding: 13px;
    }
    #pie{
        font-size: 10px;
    }
}
@media only screen and (max-width: 1330px){
    #logoImg{
        display: none;
    }
    #logoImg2{
        display: none;
    }
}
